{% extends "main/layout.html" %}
{% block body %}
<head>
<meta charset="utf-8">
<title>vividity tech for better life</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://vividitytech.com" />
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }

        h1, h2 {
            color: #333;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 1.5em;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 15px;
        }

        ul, ol {
            margin-bottom: 15px;
            padding-left: 20px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .important {
            font-weight: bold;
        }
    </style>
	
</head>
<body>
<div id="wrapper">

	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Privacy Policy</h2>
			</div>
		</div>
	</div>
	</section>

	<section id="segmentation">
		<div class="container" >
			<div class="row">
				<div class="col-lg-12 col-sm-12 wow fadeInRight animated"
					data-wow-animation-name="none">
				<h3>Disclaim</h3>We build "CarryArrow" as a Free app. This SERVICE is provided by Vividity tech at no cost and is intended for use as is.

				This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use this Service/App.
				
				If you choose to use our App/Service, then you agree to the collection and use of information in relation to this policy. We do not collect any personal information, such as name, address, email, phone number, etc. If there is any personal information required, it is not from the Service. Since we use some third party libraries, so we cannot guarantee any third party to monitor uers in the backend. We will not use or share your information with anyone except as described in this Privacy Policy.
				
				The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which are accessible at vividity tech unless otherwise defined in this Privacy Policy. 
			    </div>
			 </div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 wow fadeInRight animated"
					data-wow-animation-name="none">
				<h3>Information Collection and Use</h3>
				While using our App/Service, we do not require you to provide us with certain personally identifiable information. For other information that we request will be retained on your device and is not collected by us in any way. For a better experience, we may require uses do survey, but our App/service will not collect or maintain any privacy data from users.

				The app does use third-party services that may collect information used to identify you.
				
				Link to the privacy policy of third-party service providers used by the app
				
					<a href="https://www.google.com/policies/privacy/"><p>Google Play Services</p></a>
					<a href="https://www.sfml-dev.org/index.php"><p>SFML</p></a>
			    </div>
			 </div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 wow fadeInRight animated"
					data-wow-animation-name="none">
				<h3>Log Data</h3>We want to inform you that whenever you use our App, in a case of an error in the app we collect data and information (through third-party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, errors and other statistics. 
			 </div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 wow fadeInRight animated"
					data-wow-animation-name="none">
				<h3>Cookies</h3> Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.

				This Service does not use these “cookies” explicitly. However, the app may use third-party code and libraries that use “cookies” to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service. 
			 </div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 wow fadeInRight animated"
					data-wow-animation-name="none">
				<h3>Service Providers</h3>  We may employ third-party companies and individuals due to the following reasons:

				<p>To facilitate our Service;</p>
				<p>To provide the Service on our behalf;</p>
				<p>To perform Service-related services; or</p>
				<p>To assist us in analyzing how our Service is used.</p>

				We do not collect any user information data, but we cannot guarantee service providers do not. It is the user's responsibility to check it before clicking any button, link, etc.
			 </div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 wow fadeInRight animated"
					data-wow-animation-name="none">
				<h3>Security</h3>  Our app does not colllect top confidential data, such as your Personal Information, and we against any third party to collect or use personal information commercially. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security. 
			 </div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 wow fadeInRight animated"
					data-wow-animation-name="none">
				<h3>Links to Other Sites</h3> This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services. 
			 </div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 wow fadeInRight animated"
					data-wow-animation-name="none">
				<h3>Children’s Privacy</h3>These Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13 years of age. In the case we discover that a child under 13 is using our App, it is best the parent or guardian should tell your child and remove the App from her/his device. Also please contact us so that we can do the necessary actions to restrict the children's access to this App. 
			 </div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 wow fadeInRight animated"
					data-wow-animation-name="none">
				<h3>Changes to This Privacy Policy</h3> We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page.

				This policy is effective as of 2023-01-08
			 </div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 wow fadeInRight animated"
					data-wow-animation-name="none">
				<h3>Contact Us</h3>  If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact use at info@vividitytech.com.

				This privacy policy page was created at privacypolicytemplate.net and modified/generated by App Privacy Policy Generator
			 </div>
			</div>
		</div>
    </section>
        <!-- End Service Blcoks -->
        
    </div>
    </section>
	
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
{% endblock %}